<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f4f4f4">

    <title>Home. | Sua plataforma de busca por informações de imóveis on-line</title>

    <link rel="shortcut icon" href="../../public/images/favicon.png" type="images/png">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/partials/page-landing.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
</head>

<body id="page-landing">
    <div id="container">
        <div class="button-header-container">
            <a class="about" href="/about">Sobre</a>
            <!--pagina de sobre ainda nao criada-->
            <a class="contact" href="/contact">Contato</a>
            <!--pagina de contato ainda nao criada-->
            <a class="login" href="http://localhost/PROJETO-DE-SOFTWARE-II/homeProjetoFinal/index.php">Entrar</a>
        </div>

        <div class="logo-container">
            <img src="../../../Images/logo-home.svg" alt="Logo do Serviço">
            <!--logo ainda nao criada-->
            <h2>Sua plataforma de busca por informações de imóveis on-line</h2>
        </div>

        <img class="hero-image" src="../../public/images/page-landing-v2.svg" alt="Plataforma de Busca por imóveis">

        <div class="buttons-container">
            <a class="assess" href="http://localhost/PROJETO-DE-SOFTWARE-II/homeProjetoFinal/index.php">
                <!--pagina de avaliação ainda nao criada-->
                <img src="../../public/images/icons/assess-yellow.svg" alt="Avaliar imóvel">
                Fazer Avaliação
            </a>
            <a class="search-for"
                href="http://localhost/PROJETO-DE-SOFTWARE-II/homeProjetoFinal/ver-avaliacoes/index.php">
                <!--pagina de pesquisa ainda nao criada-->
                <img src="../../public/images/icons/search-for-red.svg" alt="Buscar imóvel">
                Ver Avaliações
            </a>
        </div>

        <p class="total-connections">
            Total de 100 avaliações e conexões já realizadas
            <img src="../../public/images/icons/coracao.svg" alt="Coração">
        </p>

    </div>

</body>

</html>